* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: white;
}
li {
    list-style: none;
}
img {
    width: 100%;
    display: block;
}
body {
    background-image: url("../img/bg/fp.jpg");
    background-size: cover;
    height: 50vh;
}
.overlay {
    width: 100%;
    height: 100%;
    background-color: #00000086;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
.overlay.active {
    opacity: 1;
    visibility: visible;
}
.forget-password {
    text-align: center;
    margin: 200px auto 0;
    color: white;
}
.forget-password h1 {
    font-family: "Carter One", sans-serif;
    background: linear-gradient(to right, #00b3ee, #c200af 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.forget-password label {
    font-weight: bold;
    font-size: 25px;
    color: rgb(239, 239, 239);
}
.forget-password input {
    display: block;
    margin: 20px auto;
    width: 30%;
    padding: 10px;
    outline: none;
    background-color: rgba(128, 128, 128, 0.238);
    border: none;
    color: white;
    text-align: center;
    border-radius: 5px;
}
.forget-password p {
    font-size: 13px;
    margin-bottom: 5px;
    color: rgb(193, 193, 193);
}
.forget-password .note-1-fp {
    margin-top: 20px;
}
.button {
    display: block;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    color: #0f1923;
    cursor: pointer;
    position: relative;
    padding: 8px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    transition: all 0.15s ease;
    margin: 0 auto;
}

.button::before,
.button::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    height: calc(50% - 5px);
    border: 1px solid #7d8082;
    transition: all 0.15s ease;
}

.button::before {
    top: 0;
    border-bottom-width: 0;
}

.button::after {
    bottom: 0;
    border-top-width: 0;
}

.button:active,
.button:focus {
    outline: none;
}

.button:active::before,
.button:active::after {
    right: 3px;
    left: 3px;
}

.button:active::before {
    top: 3px;
}

.button:active::after {
    bottom: 3px;
}

.button_lg {
    position: relative;
    display: block;
    padding: 10px 20px;
    color: #fff;
    background-color: #0f1923;
    overflow: hidden;
    box-shadow: inset 0px 0px 0px 1px transparent;
}

.button_lg::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    background-color: #0f1923;
}

.button_lg::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 4px;
    height: 4px;
    background-color: #0f1923;
    transition: all 0.2s ease;
}

.button_sl {
    display: block;
    position: absolute;
    top: 0;
    bottom: -1px;
    left: -8px;
    width: 0;
    background-color: #00b3ee;
    transform: skew(-15deg);
    transition: all 0.2s ease;
}

.button_text {
    position: relative;
}

.button:hover {
    color: #0f1923;
}

.button:hover .button_sl {
    width: calc(100% + 15px);
}

.button:hover .button_lg::after {
    background-color: #fff;
}
.forget-password .back-index .btn-back {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(77, 77, 77);
    width: 10%;
    margin: 0 auto;
    padding: 5px;
    border-radius: 30px;
    margin-top: 50px;
}
.forget-password .back-index .btn-back:hover {
    border: 1px solid rgb(217, 217, 217);
}
.forget-password .back-index .btn-back:hover i {
    transform: translateX(5px);
}
.forget-password .back-index .btn-back p {
    margin: 0;
}
.forget-password .back-index .btn-back i {
    margin-left: 10px;
    transition: 0.5s;
    color: rgb(193, 193, 193);
}
.popup-for {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    background-color: white;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    display: none;
    z-index: 9999;
}
.popup-for.active {
    display: block;
}
.popup-for h3 {
    font-weight: bold;
    color: rgb(52, 52, 52);
}
.popup-for .thumb-popup-for img {
    width: 100px;
    margin: 0 auto;
    padding: 20px;
}
.popup-for p {
    color: gray;
    margin-bottom: 20px;
}
.popup-for ul {
    padding: 0;
}
.popup-for ul li {
    color: gray;
}
.popup-for ul li span {
    color: black;
}
.popup-for .thanks {
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #c7c7c7;
    color: white;
    transition: 0.5s;
}
.popup-for .thanks:hover {
    background-color: gray;
}
