* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Urbanist", sans-serif;
    --primary-color: #c200af;
    --secondary-color: #00b3ee;
    background-color: #000000;
    position: relative;
    background-image: linear-gradient(to top, #00000082, #00000082), url("../img/bg/sl_020620_27800_62.jpg");
    background-size: cover;
}
img {
    width: 100%;
    display: block;
}
a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
ul {
    list-style: none;
}
p {
    margin: 0;
}
.overlay {
    width: 100%;
    height: 100%;
    background-color: #00000086;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
.overlay.active {
    opacity: 1;
    visibility: visible;
}
.overlay-1 {
    width: 100%;
    height: 100%;
    background-color: #00000086;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
.overlay-1.active {
    opacity: 1;
    visibility: visible;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.706);
    padding: 0 20px;
    z-index: 9999;
}
.navbar .navbar-brand img {
    width: 50px;
    margin-right: 20px;
}
.navbar .bar {
    color: white;
    display: none;
}
.navbar .xmark img {
    width: 50px;
}
.navbar .xmark i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: rgb(145, 145, 145);
    background-color: rgba(128, 128, 128, 0.088);
    width: 30px;
    height: 30px;
    border-radius: 30px;
    padding: 25px;
}
.navbar .xmark.active {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 20px 40px;
    margin-bottom: 20px;
}
.navbar .collapse .navbar-nav li {
    margin-right: 30px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
    transition: 0.5s;
}
.navbar .collapse .navbar-nav li {
    padding: 30px 0;
}
.navbar .collapse .navbar-nav li > a {
    position: relative;
    color: white;
    border-radius: 5px;
}
.navbar .collapse .navbar-nav li:hover > a,
.navbar .collapse .navbar-nav li.active > a {
    background-color: rgb(71, 71, 71);
}
.navbar .collapse .navbar-nav li > a::after {
    display: block;
    position: absolute;
    content: "";
    width: 0;
    height: 4px;
    bottom: -17px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    transition: 0.5s;
    background-image: linear-gradient(-40deg, #00b3ee, #c200af);
}
.navbar .collapse .navbar-nav li > a:hover::after,
.navbar .collapse .navbar-nav li.active > a::after {
    width: 100%;
}
/* menu */

.navbar .nav-item .menu-main {
    position: absolute;
    top: 95px;
    left: 0;
    background-color: white;
    width: 100%;
    padding: 90px 0;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
.navbar .nav-item .menu-main.active {
    opacity: 1;
    visibility: visible;
}
.navbar .nav-item .menu-main .sub-menu a {
    display: block;
    color: black;
}
.navbar .nav-item .menu-main .sub-menu a:hover img {
    transform: translateY(-10px);
}
.navbar .nav-item .menu-main .sub-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar .nav-item .menu-main .sub-menu .icon-main {
    margin: 0 80px;
    text-align: center;
}
.navbar .nav-item .menu-main .sub-menu .icon-main img {
    transition: 0.5s;
    width: 60px;
    margin: 0 auto 30px;
}
.navbar .nav-item .menu-main .sub-menu .icon-main p {
    font-size: 17px;
    text-align: center;
    transition: 0.5s;
    padding: 5px 10px;
    border-radius: 5px;
}
.navbar .nav-item .menu-main .sub-menu a:hover p {
    background-color: #d8a74c;
    color: white;
}

/* menu */
.navbar .icon ul li a i {
    transition: 0.5s;
}
.navbar .icon ul li:hover a i {
    transform: translateY(-5px);
}
.navbar .d-flex .btn {
    color: white;
    /* text-transform: uppercase; */
}
.navbar .d-flex .in {
    transition: 0.5s;
    background-color: rgb(83, 83, 83);
    font-weight: bold;
}
.navbar .d-flex .in:hover {
    background-color: rgb(52, 52, 52);
}
.navbar .d-flex .up {
    background-image: linear-gradient(-40deg, #00b3ee, #c200af);
    color: white;
    margin-left: 16px;
    border: none;
}
.navbar .collapse .icon {
    margin-right: 25px;
}
.navbar .collapse .icon ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.navbar .collapse .icon ul li {
    margin-left: 25px;
}
.navbar .collapse .icon ul li a {
    font-size: 16px;
    color: white;
}
.navbar .search {
    position: absolute;
    width: 100%;
    height: 40vh;
    top: -520px;
    left: 0;
    background-color: rgb(255, 255, 255);
    padding: 40px 100px;
    transition: 0.7s;
    z-index: 1003;
}
.navbar .search.active {
    top: 0;
}
.navbar .search .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}
.navbar .search .top .logo {
    opacity: 0;
    transition-delay: 0.7s;
    transition-duration: 0.7s;
}
.navbar .search.active .top .logo {
    opacity: 1;
}
.navbar .search .top a img {
    width: 80px;
}
.navbar .search .top .icon {
    font-size: 35px;
    transition: 0.3s;
}
.navbar .search .top .icon:hover {
    transform: rotate(180deg);
}
.navbar .search .top .icon a {
    color: gray;
    display: inline-block;
}
.navbar .search.active .top .icon a i {
    animation: fadeInAnimScale 1s linear;
}
@keyframes fadeInAnimScale {
    0% {
        opacity: 0;
        transform: scale(0.2) rotate(0);
    }
    100% {
        opacity: 1;
        transform: scale(1) rotate(180deg);
    }
}
.navbar .search .bot {
    position: relative;
    width: 80%;
    margin: 0 auto;
    opacity: 0;
    transition-delay: 0.5s;
    transition-duration: 0.5s;
}
.navbar .search.active .bot {
    opacity: 1;
}
.navbar .search .bot input {
    width: 100%;
    height: 80px;
    border: none;
    font-size: 25px;
    outline: none;
}

.navbar .search .bot::after {
    content: "";
    display: block;
    position: absolute;
    background-color: rgb(193, 193, 193);
    width: 0;
    height: 1px;
    bottom: 0;
    left: 0;
    border-radius: 30px;
    transition-delay: 1s;
    transition-duration: 1s;
}
.navbar .search.active .bot::after {
    width: 100%;
}
.navbar .search .bot .go {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 25px;
    color: gray;
}
.navbar .info {
    position: absolute;
    background-color: #f8f8f8;
    width: 23%;
    height: 100vh;
    top: 0;
    right: -1000px;
    transition: 0.5s;
    padding: 55px 35px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.navbar .info.active {
    right: 0;
}
.navbar .info .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .info .top img {
    width: 50px;
}
.navbar .info .top .icon {
    transition: 0.5s;
}
.navbar .info .top .icon a {
    color: rgb(0, 0, 0);
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    padding: 12.5px 20px;
    border-radius: 50%;
}
.navbar .info .top .icon:hover {
    transform: rotate(180deg);
}
.navbar .info .mid ul {
    padding: 0;
}
.navbar .info .mid ul li {
    margin-top: 30px;
}
.navbar .info .mid ul li a {
    display: flex;
    align-items: center;
    text-align: inherit;
    color: black;
    transition: 0.3s;
}
.navbar .info .mid ul li:hover a {
    color: gray;
}
.navbar .info .mid ul li a i {
    padding: 5px;
    width: 23px;
    font-size: 20px;
}
.navbar .info .mid ul li a span {
    margin-left: 20px;
    font-size: 18px;
    font-weight: bold;
    transition: 0.5s;
}
.navbar .info .mid ul li a:hover span {
    transform: translateX(10px);
}
.navbar .info .mid ul li a p {
    margin: 0;
}
.navbar .info .bot {
    margin-top: 40px;
    border-top: 1px solid gray;
    padding-top: 50px;
}
.navbar .info .bot h3 {
    font-size: 24px;
}
.navbar .info .bot p a {
    color: gray;
}
.navbar .bacg {
    opacity: 0;
    visibility: hidden;
}
.navbar .bacg.active {
    opacity: 1;
    visibility: visible;
}
.navbar .bacg .overplay {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.602);
    position: absolute;
    top: 0;
    left: 0;
}
.navbar .bacg .sign-in {
    width: 70%;
    height: 50vh;
    background-color: #ffffff;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 30%);
    border-radius: 5px;
    overflow: hidden;
    z-index: 999;
}
.navbar .bacg .sign-in .content {
    width: 65%;
    margin: 0 auto;
    padding-top: 45px;
}
.navbar .bacg .sign-in .content .top h3 {
    margin-bottom: 23px;
}
.navbar .bacg .sign-in .content .top .con {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}
.navbar .bacg .sign-in .content .top .con .gg {
    display: flex;
    align-items: center;
    background-color: #1c73e8;
    padding: 2px 10px 2px 2px;
    border-radius: 5px;
    margin-right: 15px;
}
.navbar .bacg .sign-in .content .top .con .gg i {
    margin-right: 10px;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 5px 0 0 5px;
    color: #1c73e8;
}
.navbar .bacg .sign-in .content .top .con .gg p {
    color: white;
}
.navbar .bacg .sign-in .content .top .con i {
    background-color: #1c73e8;
    padding: 7px;
    border-radius: 5px;
    color: white;
}
.navbar .bacg .sign-in .content .or {
    width: 50px;
    margin: -27px auto 10px;
    font-weight: 600;
    color: rgb(87, 87, 87);
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 500;
    background-color: rgb(255, 255, 255);
    z-index: 3;
}
.navbar .bacg .sign-in .content .bot label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
.navbar .bacg .sign-in .content .bot input {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
}
.navbar .bacg .sign-in .content .bot .btn {
    background-image: linear-gradient(-40deg, #00b3ee, #c200af);
    border: none;
    color: white;
    width: 50%;
}

/* header */
.news-detail {
    margin-top: 95px;
    position: relative;
}
.news-detail .background-news-detail {
    position: absolute;
    top: -400px;
    left: 0;
    z-index: -1;
    filter: blur(15px);
}
.news-detail .thumb-news-detail::after {
    content: "";
    display: block;
    position: absolute;
    top: 25px;
    left: 50%;
    border: 1px solid rgba(255, 255, 255, 0.405);
    width: 74%;
    height: 32%;
    transform: translateX(-50%);
}
.news-detail .content-news-detail h2 {
    font-family: "Carter One", sans-serif;
    margin: 55px auto 75px;
    text-align: center;
    font-size: 50px;
    background: linear-gradient(to right, #00b3ee, #c200af 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.news-detail .content-news-detail .sub-title-news-detail {
    margin: 0 auto;
    max-width: 43%;
    color: white;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}
.news-detail .content-news-detail .note-news-detail-01 {
    font-style: italic;
    text-align: center;
    margin: 50px auto 20px;
    color: gray;
}
.news-detail .content-news-detail .note-news-detail-02 {
    margin-bottom: 20px;
    line-height: 30px;
    letter-spacing: 1px;
    color: rgb(228, 228, 228);
}
.news-detail .content-news-detail .bot {
    margin-bottom: 100px;
}
.news-detail .content-news-detail .note-news-detail-03 {
    font-weight: bold;
    text-align: center;
    margin: 100px auto 20px;
    font-size: 18px;
}
.news-detail .content-news-detail p {
    width: 70%;
    margin: 0 auto;
    color: white;
}
.news-detail .load-more {
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    background-color: rgb(50, 50, 50);
    width: 13%;
    padding: 5px;
    border-radius: 30px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    margin-top: 100px;
    margin-bottom: 100px;
}
.news-detail .load-more.active {
    display: none;
}
.news-detail .load-more::after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: -570px;
    background-color: var(--primary-color);
    width: 100%;
    height: 100%;
    border-radius: 30px;
    transition: 0.5s;
}
.news-detail .load-more:hover::after {
    left: 0;
}
.news-detail .load-more p {
    font-size: 12px;
    margin-right: 10px;
    z-index: 3;
}
.news-detail .load-more i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    background-color: rgb(86, 86, 86);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    z-index: 3;
    transition: 0.5s;
}
.news-detail .load-more:hover i {
    transform: translateX(5px);
    background-color: white;
    color: gray;
}
/* footer */
.footer {
    background-color: #111111;
}
.footer .main-footer {
    padding: 100px 0 0;
}
.footer .main-footer .title {
    font-size: 30px;
    color: #d6d6de;
    text-align: center;
    margin-bottom: 60px;
    font-weight: bold;
}
.footer .main-footer .product {
    margin-bottom: 60px;
}
.footer .main-footer .product img {
    margin-bottom: 27px;
}
.footer .main-footer .top {
    width: 70px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.footer .main-footer .mid {
    margin-bottom: 60px;
}
.footer .main-footer .mid ul {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.footer .main-footer .mid ul li {
    margin: 0 20px;
    font-size: 15px;
    transition: 0.5s;
    padding: 5px 10px;
    border-radius: 10px;
}
.footer .main-footer .mid ul li:hover {
    background-color: rgb(76, 76, 76);
}
.footer .main-footer .mid ul li a {
    color: #d6d6de;
    text-transform: uppercase;
}
.footer .main-footer .icon {
    margin-bottom: 60px;
}
.footer .main-footer .icon ul {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer .main-footer .icon ul li {
    margin: 0 10px;
    border: 1px solid white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}
.footer .main-footer .icon ul li:hover {
    background-color: rgb(76, 76, 76);
}
.footer .main-footer .icon ul li a {
    color: white;
}
.footer .main-footer .coppy-right {
    color: rgb(76, 76, 76);
    border-top: 1px solid rgb(76, 76, 76);
    padding: 20px 0;
    font-size: 13px;
    text-align: center;
}

/* reponsive */
@media (max-width: 1477px) {
    .homepage .para .title {
        font-size: 19px;
    }
}
@media (max-width: 1472px) {
    .character .play .thumb img {
        top: -150px;
    }
    .character .play .info-character h3 {
        font-size: 70px;
    }
    .character .play .info-character .content p {
        font-size: 14px;
    }
}
@media (max-width: 1445px) {
}
@media (max-width: 1399px) {
    .news-detail .load-more {
        width: 20%;
    }
}
@media (max-width: 1325px) {
    .homepage .content .thumb img {
        width: 38%;
    }
    .homepage .content .sub-content p {
        font-size: 15px;
    }
    .homepage .content .press .button-85 {
        width: 18%;
        margin-right: 15px;
    }
}
@media (max-width: 1297px) {
    .character .play .thumb img {
        top: -100px;
    }
}
@media (max-width: 1291px) {
    .main-code .content .title {
        font-size: 50px;
    }
    .character .play .info-character h3 {
        font-size: 70px;
    }
}
@media (max-width: 1199px) {
    /* .character .play .thumb img {
        top: -125px;
    } */
    .character .play .role .sub-role a p {
        font-size: 20px;
    }
    .news-detail .load-more {
        width: 20%;
    }
}
@media (max-width: 1089px) {
    .main-code .content .title {
        font-size: 45px;
    }
}
@media (max-width: 1180px) {
    .character .play .thumb img {
        top: -50px;
    }
    .character .play .info-character {
        left: 90px;
    }
    .character .play .role {
        right: 60px;
    }
}
@media (max-width: 1155px) {
    .character .play .info-character h3 {
        font-size: 50px;
    }
    .homepage .content .sub-content p {
        font-size: 13px;
    }
}
@media (max-width: 1070px) {
    .homepage .content {
        left: 47px;
    }

    .homepage .para {
        top: 290px;
        right: 70px;
    }
}
@media (max-width: 1050px) {
    .character .play .thumb img {
        top: -10px;
    }
    .character .play .info-character {
        left: 60px;
    }
    .character .play .role {
        right: 30px;
    }
}
@media (max-width: 1024px) {
    .add-video .game-button {
        padding: 10px;
    }
}
@media (max-width: 991px) {
    .character {
        padding: 200px 0 600px;
    }
    .character .play {
        padding: 0;
    }
    .main-code .photo .thumb img {
        margin-bottom: 25px;
    }
    .character .play .thumb img {
        width: 60%;
        top: -150px;
    }
    .character .play .info-character {
        position: absolute;
        margin: 0 auto;
        width: 40%;
        top: 50px;
        left: 60px;
    }
    .character .play .info-character .diff {
        display: none;
    }
    .character .play .info-character .content {
        display: none;
    }
    .character .play .role {
        right: 70px;
    }
    .character .play .role .sub-role p {
        display: none;
    }
    .navbar .search {
        height: 55vh;
    }
    .navbar .search .top a img {
        width: 50px;
    }
    .navbar .search .top .icon {
        font-size: 30px;
    }
    .navbar .search .bot input {
        font-size: 20px;
    }
    .navbar .search .top {
        margin-bottom: 115px;
    }
    .navbar .info {
        width: 45%;
    }
    .navbar .search {
        height: 35vh;
    }
    .news-detail .load-more {
        width: 30%;
    }
    .news-detail .thumb-news-detail::after {
        height: 27%;
    }
}
@media (max-width: 988px) {
    .main-code .content {
        top: -69px;
    }
    .main-code .content .title {
        font-size: 40px;
    }
}
@media (max-width: 966px) {
    .navbar .collapse .navbar-nav li {
        padding: 20px 0;
    }
    .homepage .para {
        display: none;
    }
    .homepage .content .sub-content p {
        display: none;
    }
    .homepage .content .thumb img {
        margin-bottom: 30px;
    }
    .homepage .content .press .button-85 {
        font-size: 14px;
        width: 25%;
        padding: 10px 0;
        margin-bottom: 25px;
    }
    .homepage .content .press {
        display: block;
    }
    .navbar-expand-sm .navbar-nav.active {
        display: block;
    }
    .navbar-expand-sm .navbar-collapse {
        justify-content: end;
        flex-basis: auto;
    }
    .navbar .bar {
        display: block;
    }
    .navbar .navbar-brand img {
        padding: 5px 0;
    }
    .homepage .thumb img {
        margin-top: 76px;
    }
    .homepage .content .thumb img {
        margin-bottom: 5px;
    }
}
@media (max-width: 960px) {
    .add-video .container-fluid {
        padding: 30px 0;
    }
    .add-video .downld {
        flex-direction: column;
        padding: 0;
    }
    .add-video .downld p {
        padding: 0;
        margin: 20px 0;
    }
    .add-video .downld ul {
        padding: 0;
    }
    .navbar .collapse .navbar-nav li {
        padding: 5px 0;
    }
}
@media (max-width: 910px) {
    .character .play .thumb img {
        top: -90px;
    }
}
@media (max-width: 891px) {
    .add-video .game-button {
        font-size: 15px;
    }
}
@media (max-width: 887px) {
    .main-code .content .title {
        font-size: 35px;
    }
}
@media (max-width: 812px) {
    .main-code .bdr {
        padding: 300px 0 0;
    }
    .navbar-expand-sm .navbar-nav {
        opacity: 1;
        visibility: visible;
    }
    .navbar .collapse .navbar-nav {
        position: absolute;
        top: -1000px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        background-color: rgb(255, 255, 255);
        width: 100%;
        height: 50vh;
        padding: 115px 0 0;
        transition: 0.5s;
    }
    .navbar .collapse .navbar-nav li > a {
        margin-bottom: 20px;
        color: black;
    }
    .navbar .navbar-nav .menu-main {
        display: none;
    }
    .navbar .collapse .navbar-nav.active {
        top: 0;
    }
    .navbar .collapse .navbar-nav li {
        margin-right: 0;
        font-size: 18px;
    }
    .navbar .collapse .navbar-nav.active li {
        animation: down 0.5s linear both;
    }
    .navbar .collapse .navbar-nav.active li:first-child {
        animation-delay: 1.6s;
    }
    .navbar .collapse .navbar-nav.active li:nth-child(2) {
        animation-delay: 1.4s;
    }
    .navbar .collapse .navbar-nav.active li:nth-child(3) {
        animation-delay: 1.2s;
    }
    .navbar .collapse .navbar-nav.active li:last-child {
        animation-delay: 1s;
    }

    @keyframes down {
        0% {
            transform: translateY(-40px);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }
    .navbar .xmark {
        position: absolute;
        top: -300px;
        left: 0;
        z-index: 999;
        transition: 0.5s;
    }
    .navbar .xmark.active {
        top: 0;
        transition-delay: 0.5s;
    }
}
@media (min-width: 813px) {
    .navbar .bar {
        display: none;
    }
    .navbar .xmark {
        display: none;
    }
    .navbar .collapse .navbar-nav {
        top: -800px;
    }
}
@media (max-width: 800px) {
    .character .play .thumb img {
        top: -30px;
    }
}
@media (max-width: 786px) {
    .main-code .content .order-code {
        font-size: 20px;
    }
}
@media (max-width: 767px) {
    .main-card .title {
        top: -100px;
    }
    .main-card .title h2 {
        font-size: 70px;
    }
    .news-detail .thumb-news-detail::after {
        height: 25%;
    }
}
@media (max-width: 729px) {
    .add-video .game-button {
        font-size: 10px;
    }
    .homepage .content .press .button-85 {
        font-size: 10px;
    }
    .homepage .content .press .next .btn.one {
        font-size: 15px;
    }
    .news-detail .content-news-detail .sub-title-news-detail {
        font-size: 17px;
    }
    .news-detail .thumb-news-detail::after {
        height: 22%;
    }
}
@media (max-width: 670px) {
    .character .play .thumb img {
        top: 30px;
    }
    .character .play .role .sub-role.active a::after {
        width: 50px;
        height: 50px;
        left: 22px;
    }
    .news-detail .content-news-detail h2 {
        font-size: 40px;
    }
    .news-detail .thumb-news-detail::after {
        height: 21%;
    }
}
@media (max-width: 620px) {
    .character .play .info-character {
        left: 50%;
        transform: translateX(-50%);
        top: 0;
    }
    .character .play .role {
        right: 50%;
        display: flex;
        transform: translateX(50%);
        top: 450px;
        height: 40px;
    }
    .character .play .info-character {
        left: 50%;
        transform: translateX(-50%);
        top: -131px;
        text-align: center;
        width: 60%;
    }
    .character .play .thumb img {
        width: 80%;
        top: -20px;
    }
    .character .play .info-character h3 {
        font-size: 70px;
    }
}
@media (max-width: 605px) {
    .homepage .content .press .next .btn.one i {
        font-size: 10px;
        width: 21px;
        height: 21px;
    }
    .homepage .content .press .button-85 {
        width: 30%;
    }
}
@media (max-width: 575px) {
    .main-card .title {
        top: -80px;
    }
    .main-card .title h2 {
        font-size: 47px;
    }
    .homepage .content {
        left: 5px;
    }
    .homepage .content .press {
        padding: 8px;
    }
    .navbar-expand-sm .navbar-collapse {
        display: flex;
    }
    .news-detail .thumb-news-detail::after {
        height: 21%;
    }
}
@media (max-width: 566px) {
    .add-video .game-button {
        font-size: 8px;
    }
    .navbar .info .bot h3 {
        font-size: 20px;
    }
    .navbar .info {
        width: 70%;
    }
    .navbar .search {
        padding: 40px 25px;
    }
}
@media (max-width: 531px) {
    .news-detail .load-more {
        width: 40%;
    }
}
@media (max-width: 518px) {
    .homepage .content .press .button-85 {
        width: 35%;
        font-size: 10px;
    }
}
@media (max-width: 500px) {
    .add-video .game-button {
        width: 20%;
    }
    .news-detail .thumb-news-detail::after {
        height: 20%;
    }
}
@media (max-width: 480px) {
    .character .play .thumb img {
        width: 80%;
        top: 40px;
    }
}
@media (max-width: 485px) {
    .add-video .game-button {
        top: 150px;
        left: 50%;
        transform: translateX(-50%);
    }
}
@media (max-width: 470px) {
    .news-detail .thumb-news-detail::after {
        height: 19%;
    }
}
@media (max-width: 455px) {
    .character .play .role .sub-role {
        margin: 0 18px;
    }
    .character .play .role .sub-role.active a::after {
        left: 10px;
    }
}
@media (max-width: 445px) {
    .character .play .info-character h3 {
        font-size: 50px;
    }
}
@media (max-width: 435px) {
    .character .play .thumb img {
        width: 90%;
        top: 40px;
    }
    .homepage .content .press .next .btn.one {
        display: none;
    }
}
@media (max-width: 420px) {
    .navbar .navbar-brand img {
        width: 30px;
    }
    .navbar .collapse .icon ul li {
        margin-left: 15px;
    }
    .navbar .icon ul li a i {
        font-size: 15px;
    }
    .navbar .d-flex .in {
        font-size: 13px;
    }
    .navbar {
        padding: 0;
    }
    .homepage .content {
        top: -5px;
    }
    .homepage .content .press .button-85 {
        font-size: 8px;
    }
    .navbar .search .bot {
        width: 100%;
    }
    .navbar .search .top {
        margin-bottom: 55px;
    }
    .navbar .search {
        height: 25vh;
    }
    .news-detail .load-more {
        width: 70%;
    }
    .news-detail .thumb-news-detail::after {
        height: 17%;
    }
}
@media (max-width: 390px) {
    .character .play .thumb img {
        width: 100%;
        top: 50px;
    }
}
@media (max-width: 388px) {
    .homepage .content .press .button-85 {
        padding: 5px;
    }
}
@media (max-width: 377px) {
    .add-video .game-button {
        width: 25%;
    }
    .footer .main-footer .mid ul li {
        margin: 0px 4px;
    }
}
@media (max-width: 360px) {
    .footer .main-footer .icon ul {
        padding: 0;
    }
    .character .play .role .sub-role a img {
        width: 28px;
    }
}
@media (max-width: 320px) {
    .navbar .info {
        width: 100%;
    }
    .navbar .search .top {
        margin-bottom: 115px;
    }
    .navbar .search {
        height: 30vh;
    }
    .news-detail .thumb-news-detail::after {
        height: 20%;
    }
}
